<div class="uk-padding">

<div class="uk-card uk-card-default uk-padding">
    <div class="uk-card-header">
        <div class="uk-grid-small uk-flex-middle" uk-grid>
            <div class="uk-width-auto">
                <img class="uk-border-circle" width="80" height="80" src="assets/img/20.jpg">
            </div>
            <div class="uk-width-expand">
                <h3 class="uk-card-title uk-margin-remove-bottom">Name :{{data.name}}</h3>
                <p class="uk-text-meta uk-margin-remove-top">Email :{{data.email}}</p>
            </div>
        </div>
    </div>
    <div class="uk-card-body">
        <p>{{data.comments}}</p>
    </div>
    <div class="uk-card-footer">
        <p>{{data.phone}}</p>
        <p>{{data.province}}</p>
        <p>{{data.price}}</p>
    </div>
</div>
</div>

